@supports (grid-area:auto) {
.site{
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
  grid-template-rows: minmax(250px, 900px), 500px 400px 450px 450px 450px 900px 100px 100px 100px;
  background-color: white;

}



.flex{
  display:flex;
  align-items: center;
  justify-content: center;
}

#heading{
  grid-column: 1/7;
  grid-row: 0/2;
  padding-bottom: 80px;

  margin: 0px;
    background-image: url("../img/americans.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.indent{
  text-indent: 50px;
}

h1{
  color:white;
  text-align: center;
  background-color:#b36200;
  vertical-align: middle;
  font-size: 80px;
  margin-top: 10%;
  padding: 3px;
  padding-top: 5px;
  font-family: times;
}

#opening{
  grid-column: 2/6;
  grid-row: 2/3;
}

.contentLink{
  text-decoration: none;
  color: #b36200;
}

.sectionHead{
  color: white;
  font-weight: bold;
  margin-bottom: 3px;
  padding-bottom: 3px;
  font-size: 40px;
  margin-top: 3%;
  font-family: times;
  background-color:#ffa333;
  border-radius: 10px;
  padding-left: 30px;
  padding-top: 5px;
}

.content{
  font-family: 'helvetica Neue';
}

#container{
  grid-column: 1/6;
  grid-row: 3/4;
  padding-bottom: 10px;
}

#education{
  grid-column: 2/6;
  grid-row: 4/5;
}

@media only screen and (max-width: 600px) {

  h1{
    color:white;
    text-align: center;
    background-color:#b36200;
    vertical-align: middle;
    font-size: 33px;
    margin-top: 25%;
    padding: 6px;
    padding-top: 10px;
    font-family: times;
  }

  .sectionHead{
    color: white;
    font-weight: bold;
    margin-bottom: 3px;
    padding-bottom: 3px;
    font-size: 28px;
    margin-top: 3%;
    font-family: times;
    background-color:#ffa333;
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 5px;
  }

  .indent{
    text-indent: 20px;
  }

  #player{
    grid-column: 2/6;
  grid-row: 5/6;
  width: 100%;
  height: 250px!important;
  min-height: 150px!important;
  }
}

#player{
  grid-column: 2/6;
grid-row: 5/6;
width: 100%;
height: 100%;
min-height: 450px;
}

#donationUse{
  grid-column: 2/6;
grid-row: 6/7;
}

#seek{
  grid-column: 3/5;
grid-row: 7/8;
display:block;
}

#results{
  grid-column: 1/6;
grid-row: 8/9;
}

#tauResults{
  height: 400px;
}


.ingLink{
  text-decoration: none;
  color: black;
}

.latest-news{
  border: 1px solid grey;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 5px #cccccc;
}

.thumbnail{
  flex-basis: 20%;
  max-width: 20%;
  height: auto;
  margin-right: 10px;
}

.text{
  flex-basis: 80%
}

#submit{
  margin: 10px;
}

}
