

.flex{
  display:flex;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none;
  color: black;
}

.latest-news{
  border: 1px solid grey;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 5px #cccccc;
}

.thumbnail{
  flex-basis: 20%;
  max-width: 20%;
  height: auto;
  margin-right: 10px;
}

.text{
  flex-basis: 80%
}
